@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

body{
	hyphens: auto;
	-epub-hyphens: auto;
}

p{
	margin: 1;
	text-indent: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-variant: small-caps;
	hyphens: none;
	-epub-hyphens: none;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-align: center;
	margin: 3em 0;
}
